<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "icon" href ="images/zealous.png" type = "image/png">
<title>Zealous Buddy Listing</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="images/extra.css">
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a href="#" class="navbar-brand"><img style="height:80px;width:150px" src="images/logo.png" alt="logo"></a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#place">
			<span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="place">
				<ul class="navbar-nav ml-auto">
					<li class="navbar-item active" id="menu-gap">
						<a href="#" th:href="@{'/home'}" class="navbar-link btn btn-light badge-pill">Home</a>
					</li>
					<li class="navbar-item" id="menu-gap">
						<a href="#" th:href="@{'/ad'}" class="navbar-link btn btn-light badge-pill">Enroll Candidate</a>
					</li>
					<li class="navbar-item" id="menu-gap">
						<a href="#" th:href="@{'/find'}" class="navbar-link btn btn-light badge-pill">Find Candidate</a>
					</li>
					<li class="navbar-item" id="menu-gap">
						<a href="#" th:href="@{'/list'}" class="navbar-link btn btn-light badge-pill">List Candidates</a>
					</li>
					<li class="navbar-item" id="menu-gap">
						<a href="#" th:href="@{'/logout'}" class="navbar-link btn btn-light badge-pill">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<h1 class="text-primary display-4">Welcome User... [[${#httpServletRequest.remoteUser}]]</h1>
	
	<h1 class="text-center text-primary">All Candidate's info</h1>
	<p class="text-center text-warning" th:text="${msg}"></p>
	<div class="row justify-content-center">
		<table class="table table-responsive table-stripped shadow rounded border col-md-12 col-lg-12 p-3">
			<thead class="thead-dark">
				<tr>
					<th>S.No</th><th>Name</th><th>Contact</th><th>Address</th><th>Email</th><th>Org</th>
					<th>Skill set</th><th>Fee</th><th>Date of joining</th><th>First Paid</th>
					<th>Date of first paid</th><th>Date to be paid</th><th>Dues</th>
					<th>Date of Completion</th><th>Certificate status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="one:${all}">
					<td>
						<a href="#" th:href="@{'/delete/'+${one.number}}">
							<p th:text="${one.number}"></p>
						</a>
					</td>
					<td th:text="${one.name}"></td>
					<td th:text="${one.mobile}"></td><td th:text="${one.address}"></td>
					<td th:text="${one.email}"></td><td th:text="${one.org}"></td>
					<td th:text="${one.course}"></td><td th:text="${one.fee}"></td>
					<td th:text="${one.joined}"></td><td th:text="${one.first}"></td>
					<td th:text="${one.paid}"></td><td th:text="${one.payable}"></td>
					<td th:text="${one.dues}"></td>
					<td> 
						<a href="#" th:href="@{'/generate/'+${one.number}}">
							<p th:text="${one.completed}"></p>
						</a>
					</td>
					<td>
						<a href="#" th:href="@{'/edit/'+${one.number}}">
							<p th:text="${one.certificate}"></p>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>