<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User's Record</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<h1 class="text-center text-primary">User's info</h1>
	<p class="text-center text-warning" th:text="${msg}"></p>
	<div class="row justify-content-center">
		<div class="card shadow rounded border col-md-8 col-lg-6 col-sm-6 p-lg-5">
			<h1 class="card-title text-primary text-center display-4" th:text="${single.name}"></h1>
			<div class="card-body">
				<p th:text="${single.userNum}" class="text-info float-right"></p>
				<p th:text="${single.BMI}" class="text-danger float-left"></p>
				<p th:text="${single.contact}" class="text-warning text-center"></p>
				<p th:text="${single.location}" class="text-success"></p>
				<a th:href="@{'edit/'+${single.userNum}}" class="btn btn-outline-warning">Edit</a>
				<a th:href="@{'erase/'+${single.userNum}}" class="btn btn-outline-danger">Delete</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>